@model Formato_CreacionClientes.Models.ClientesModel


@{
    ViewData["Title"] = "Creación Clientes";
}


<div class="container">
    <div class="row">
        <div class="container mx-auto">
            <form method="post" name="creacionClientes" asp-controller="Clientes" class="validarForm" id="formCreacionClientes" enctype="multipart/form-data" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <nav class="card  mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card  border-0">
                                    <div class="hstack g-2" style="padding-top:36px">

                                        <img src="~/img/aliarlogo1.fw.png" alt="LogoAliar" width="160" height="90" class="img-fluid rounded-start">
                                        <img src="~/img/LOGO LA FAZENDA.png" alt="LogoFazenda" width="140" height="90" class="img-fluid rounded-start">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-9">

                                <div class="card-body mx-0 px-0">
                                    <div class="card border-0">
                                        <h4 class="card-title " style="text-align:center">
                                            AGROPECUARIA ALIAR S.A.
                                        </h4>

                                    </div>

                                    <div class="container-fluid mx-0 px-2">
                                       
                                        <div class="card-body mx-0 px-0 ">
                                            <div class="row">
                                                <div class="hstack g-2 border-0 mx-0 px-0">

                                                    <div class="col-sm-12">
                                                        <h6 style="text-align:center">FORMATO CREACIÓN DE CLIENTES</h6>
                                                    </div>
                                               

                                                </div>

                                            </div>

                                        </div>


                                        <div class="card-body mx-0 px-0">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="hstack g-2 border" >
                                                        <div class="col-sm-3 mx-0 px-0" >
                                                            <h6 class="" style="text-align:center;">Código</h6>
                                                            <p style="text-align:center;">CUM-FT-015 Y 016</p>
                                                        </div>
                                                        <div class="col-1 vr"></div>
                                                        <div class="col-sm-2">
                                                            <h6 class="" style="text-align:center">Versión</h6> 
                                                            <p class="" style="text-align:center">01</p>
                                                        </div>
                                                        <div class="col-1 vr"></div>
                                                        <div class="col-sm-4">
                                                            <h6 class="" style="text-align:center">Código Documento Asociado</h6>
                                                            <p style="text-align:center">CUM-PR-002</p>
                                                        </div>
                                                        <div class="col-1 vr" ></div>
                                                        <div class="col-sm-3" >
                                                            <h6 class="" style="text-align:center">Fecha de Emisión</h6>
                                                            <p class="" style="text-align:center">@DateTime.Today.ToString("dd-MMM-yyyy")</p>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </nav>
                    <br />
                    <div class="card  mb-3  mx-0 ">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                1. INFORMACIÓN DE LA SOLICITUD
                            </h5>

                        </div>

                        <div class="container-fluid  mx-0 px-0">
                            <div class="row">
                                <div class="card-body mx-2 px-0">
                                  

                                    <div class="row g-4">

                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="floatingInputGrid" placeholder=""  value="@DateTime.Today.ToString("dd-MMMM-yyyy")" disabled>
                                                <label for="floatingInputGrid" style="font-size:14px;"><strong>Fecha Diligenciamiento</strong></label>
                                                @*<span style="font-size:13px"><strong>@DateTime.Today.ToString("dd-MMM-yyyy")</strong></span>*@
                                            </div>
                                        </div>


                                        <div class="col-md">
                                            <div class="form-floating">
                                                <select asp-for="Tipo_Operacion" class="form-select" id="tipoOperacion"  required>
                                                    <option selected></option>
                                                    <option value="vinculacion">Vinculación Inicial</option>
                                                    <option value="actualizacion">Actualización</option>
                                                </select>
                                                <label for="floatingSelect"><strong>Tipo Operación</strong></label>
                                                <span asp-validation-for="Tipo_Operacion" class="text-danger spanValidated"></span>
                                            </div>

                                        </div>

                                        <div class="col-md  d-none" id="seccionTipoActualizacion">
                                            <div class="form-floating">
                                                <select asp-for="Tipo_Actualizacion" class="form-select" id="TipoActualizacion" aria-label="Floating label select example" required>
                                                    <option selected></option>
                                                    <option value="cambioRS">Cambio Razón Social</option>
                                                    <option value="cambioDdesp">Cambio dirección de despacho</option>
                                                    <option value="creacionNuevaSurc">Creación nueva(s) sucursal(es)</option>
                                                    <option value="ActualizacionGral">Actualización general</option>
                                                </select>
                                                <label for="floatingSelect"><strong>Tipo Actualización</strong></label>
                                                <span asp-validation-for="Tipo_Actualizacion" class="text-danger spanValidated"></span>
                                            </div>


                                        </div>
                                    
                                    </div>

                                </div>
                            </div>
                           

                            <div class="row">
                                <div class="card-body mx-2 px-0">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input asp-for="Nombre_Persona_Contacto_Compannia" type="text" class="form-control uppercase" id="floatingInputGrid" placeholder=""  value="" required>
                                            <label for="floatingInputGrid" ><strong>Persona de contacto de la compañia</strong></label>
                                            <span asp-validation-for="Nombre_Persona_Contacto_Compannia" class="text-danger spanValidated"></span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>



                    </div>
                    <br />
                    <div class="card  mb-3  mx-0 ">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                2. IDENTIFICACIÓN DEL TERCERO
                                <div class="card-subtitle border-0">
                                    <p style="text-align:center;font-size:12px"><strong>Por favor relacione los datos indicados en el RUT</strong></p>

                                </div>
                            </h5>
                            

                        </div>

                        <div class="container-fluid  mx-0 px-0">

                            <div class="row">
                                <div class="card-body mx-2 px-0">

                                        <div class="row g-4">
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <select asp-for="Tipo_Persona" class="form-select" id="tipoPersona" aria-label="Floating label select example" required>
                                                        <option selected></option>
                                                        <option value="Natural">Persona Natural</option>
                                                        <option value="Juridica">Persona Jurídica</option>
                                                    </select>
                                                    <label for="floatingSelect"><strong>Tipo Persona</strong></label>
                                                <span asp-validation-for="Tipo_Persona" class="text-danger spanValidated"></span>
                                                </div>

                                            </div>

                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <select asp-for="Tipo_Identificacion" class="form-select" id="tipoIdentificacion" aria-label="Floating label select example" required>
                                                        <option selected></option>
                                                        <option value="Nit">Nit</option>
                                                        <option value="C.C">Cédula Ciudadanía</option>
                                                        <option value="C.E">Cédula Extranjería</option>
                                                        <option value="Pas">Pasaporte</option>
                                                        <option value="Pep">Permiso Especial de Permanencia</option>
                                                    </select>
                                                    <label for="floatingSelect"><strong>Tipo Identificación</strong></label>
                                                <span asp-validation-for="Tipo_Identificacion" class="text-danger spanValidated"></span>
                                                </div>


                                            </div>

                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <input asp-for="Numero_Identificacion" type="number" min="0" class="form-control" id="floatingInputGrid" placeholder="" value="" required>
                                                    <label for="floatingInputGrid"><strong>Número Identificación</strong></label>
                                                <span asp-validation-for="Numero_Identificacion" class="text-danger spanValidated"></span>
                                                </div>
                                            </div>

                                        </div>


                                </div>

                            </div>

                            <div class="row d-none" id="seccionLegal">
                                <div class="card-body mx-2 px-0">
                                 
                                    <div class="input-group mb-2">
                                        <span class="input-group-text" id="nomCompleto_RazonSocial" style="font-size:13px"><strong>Nombre Completo o Razón Social</strong></span>
                                        <input asp-for="Nombre_Completo_RazonSocial" type="text" class="form-control uppercase" required>
                                        <span asp-validation-for="Nombre_Completo_RazonSocial" class="text-danger spanValidated"></span>
                                    </div>




                                </div>

                            </div>
                           
                            <div class="row d-none" id="seccionRepLegal">
                                <div class="card-body mx-2 px-0">
                                 

                                    <div class="input-group mb-2">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="font-size:13px"><strong>Representante Legal</strong></span>
                                        <input asp-for="Representante_Legal" type="text" class="form-control uppercase" required>
                                        <span asp-validation-for="Representante_Legal" class="text-danger spanValidated"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="row d-none" id="seccionPerNatural">
                                <div class="card-body mx-2 px-0">

                                    <div class="input-group">
                                        <span class="input-group-text" style="font-size:13px"><strong>Nombre(s) y Apellido(s)</strong></span>
                                        <input asp-for=Nombres_Persona_Natural type="text" aria-label="First name" class="form-control uppercase" required>
                                        @* <span asp-validation-for="Nombres_Persona_Natural" class="text-danger spanValidated"></span> *@

                                        <input asp-for=Apellidos_Persona_Natural type="text" aria-label="Last name" class="form-control uppercase" required>
                                        @* <span asp-validation-for="Apellidos_Persona_Natural" class="text-danger spanValidated"></span> *@
                                    </div>

                                </div>

                            </div>
                           

                            <div class="row">
                                <div class="card-body mx-2 px-0">
                                  

                                    <div class="input-group mb-2">
                                        <span class="input-group-text" style="font-size:13px"><strong>Dirección</strong></span>
                                        <input asp-for=Direccion_Tercero type="text" class="form-control" placeholder="" aria-label="" required>
                                        @* <span asp-validation-for="Direccion_Tercero" class="text-danger spanValidated"></span> *@

                                        <span class="input-group-text" style="font-size:13px"><strong>Barrio</strong></span>
                                        <input asp-for=Barrio_Tercero type="text" class="form-control" placeholder="" aria-label="" required>
                                        @* <span asp-validation-for="Barrio_Tercero" class="text-danger spanValidated"></span> *@

                                        <label  class="input-group-text" for="" style="font-size:13px"><strong>Departamento</strong></label>
                                        <select asp-for="Departamento_Tercero" class="form-select"  asp-items="@ViewData["combo"] as SelectList" id="cboDepartamento" required>
                                            <option value=""></option>
                                        </select>
                                        @* <span asp-validation-for="Departamento_Tercero" class="text-danger spanValidated"></span> *@
                              
                                     
                                        <label class="input-group-text" for="" style="font-size:13px"><strong>Ciudad</strong></label>
                                        <select asp-for=Ciudad_Tercero type="" class="form-select"  id="cboCiudad" required>
                                            <option value=""></option>
                                        </select>
                                        @* <span asp-validation-for="Ciudad_Tercero" class="text-danger spanValidated"></span> *@

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="card-body mx-2 px-0">
                                  
                                    <div class="input-group mb-2">
                                        <span class="input-group-text" style="font-size:13px"><strong>Número Celular</strong></span>
                                        <input asp-for=Numero_Celular_Tercero type="tel" class="form-control" placeholder="" aria-label="" required>

                                        <span class="input-group-text" style="font-size:13px"><strong>Teléfono</strong></span>
                                        <input asp-for=Telefono_Fijo_Tercero type="tel" class="form-control" placeholder="" aria-label="" required>

                                        <span class="input-group-text" style="font-size:13px"><strong>Email</strong></span>
                                        <input asp-for=Email_Tercero type="email" class="form-control" placeholder="" aria-label="" required>
                                        
                                    </div>


                                </div>

                            </div>
                         

                            <div class="row">

                               @* tablas cargos públicos*@
                                <div class="col-sm-6">

                                    <div class="card-body mx-2 px-0">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="titulo_tabla" style="font-size:13px;text-align:center" rowspan="2">¿Desempeña funciones públicas?</th>
                                                    <th scope="col" style="font-size:13px;text-align:center">Si</th>
                                                    <th scope="col" style="font-size:13px;text-align:center">No</th>

                                                </tr>
                                                <tr>
                                                    <th style="text-align:center" scope="col">
                                                        <div class="form-check form-check-inline">
                                                            <input asp-for=Desempenna_Funciones_Publicas class="form-check-input" type="radio" name="inlineRadioOptions" id="desempeñaSi" value="si" required>
                                                            <label class="form-check-label" for=""></label>
                                                        </div>
                                                    </th>
                                                    <th style="text-align:center" scope="col">
                                                        <div class="form-check form-check-inline">
                                                            <input asp-for=Desempenna_Funciones_Publicas class="form-check-input" type="radio" name="inlineRadioOptions" id="desempeñaNo" value="no" required> 
                                                            <label class="form-check-label" for=""></label>
                                                        </div>
                                                    </th>
                                                   
                                                </tr>

                                                <tr>
                                                    <th scope="col" class="titulo_tabla" style="font-size:13px;text-align:center" rowspan="2">¿Administra o maneja recursos públicos?</th>
                                                    <th scope="col" style="font-size:13px;text-align:center">Si</th>
                                                    <th scope="col" style="font-size:13px;text-align:center">No</th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align:center" scope="col">
                                                        <div class="form-check form-check-inline">
                                                            <input asp-for=Administra_Recursos_Publicos class="form-check-input" type="radio" name="inlineRadioOptions2" id="" value="si" required>
                                                            <label class="form-check-label" for=""></label>
                                                        </div>
                                                    </th>
                                                    <th style="text-align:center" scope="col">
                                                        <div class="form-check form-check-inline" style="text-align:center">
                                                            <input asp-for=Administra_Recursos_Publicos class="form-check-input" type="radio" name="inlineRadioOptions2" id="" value="no" required>
                                                            <label class="form-check-label" for=""></label>
                                                        </div>
                                                    </th>
                                                   
                                                </tr>

                                            </thead>
                                            <tbody>
                                             

                                            </tbody>
                                     
                                        </table>

                                    </div>


                                </div>

                                <div class="col-sm-6">

                                    <div class="card-body mx-2 px-0 invisible" id="seccionCargoPublico">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr style="text-align:center">
                                                    <th class="titulo_tabla" scope="col" colspan="2" style="font-size:13px">Cargo público que desempeña</th>
                                                    <td colspan="2"><input asp-for=Cargo_Publico class="form-control uppercase" type="text" required/> </td>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="titulo_tabla" scope="row" rowspan="2" style="font-size:13px">Año de vinculación</th>
                                                        <td><input asp-for=Anno_Vinculacion class="form-control" type="number" min="1900" max="2099" step="1" placeholder="2023" value="" required> </td>
                                                    <th class="titulo_tabla" scope="row" rowspan="2" style="font-size:13px">Año de desvinculación</th>
                                                        <td><input asp-for=Anno_Desvinculacion class="form-control" type="number" min="1900" max="2099" step="1" placeholder="2023" value="" required>@*@DateTime.Now.Year*@</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>



                            </div>


                        </div>




                    </div>

                    <div class=" card mb-3 mx-0">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                3. DATOS DE CONTACTO
                                <div class="card-subtitle border-0">
                                    <p style="text-align:center;font-size:12px"><strong>Información de la persona que realizará la(s) compra(s)</strong></p>
                                    
                                </div>
                            </h5>

                        </div>

                        <div class="container-fluid mx-0 px-0">

                            <div class="row">
                                <div class="card-body mx-2 px-0">


                                    <div class="input-group mb-2">
                                        <span class="input-group-text" style="font-size:13px"><strong>Persona contacto</strong></span>
                                        <input asp-for=Persona_Contacto type="text" class="form-control uppercase" placeholder="" aria-label="" required>
                                        @* <span class="spanValidated" asp-validation-for="Persona_Contacto"></span> *@

                                        <span class="input-group-text" style="font-size:13px"><strong>Cargo</strong></span>
                                        <input asp-for=Cargo_Contacto type="text" class="form-control uppercase" placeholder="" aria-label="" required>
                                        @* <span class="spanValidated" asp-validation-for="Cargo_Contacto"></span> *@

                                        <span class="input-group-text" style="font-size:13px"><strong>Email</strong></span>
                                        <input asp-for=Email_Contacto type="email" class="form-control" placeholder="" aria-label="" required>
                                        @* <span class="spanValidated" asp-validation-for="Email_Contacto"></span> *@

                                        <span class="input-group-text" style="font-size:13px"><strong>Celular</strong></span>
                                        <input asp-for=Celular_Contacto type="tel" class="form-control" placeholder="" aria-label="" required>
                                        @* <span class="spanValidated" asp-validation-for="Celular_Contacto"></span> *@
                                    </div>

                                </div>
                                <div class="row gx-6">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2">

                                        <span class="spanValidated p-3" asp-validation-for="Persona_Contacto"></span>
                                    </div>

                                    <div class="col">
                                        <span class="spanValidated p-3" asp-validation-for="Cargo_Contacto"></span>

                                    </div>

                                    <div class="col">
                                        <span class="spanValidated p-3" asp-validation-for="Email_Contacto"></span>

                                    </div>

                                    <div class="col">
                                        <span class="spanValidated p-3" asp-validation-for="Celular_Contacto"></span>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class=" card mb-3 mx-0 d-none" id="seccionInfoSocial">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                4. INFORMACIÓN SOCIAL
                                <div class="card-subtitle border-0">
                                    <p style="text-align:center;font-size:12px"><strong>Únicamente para persona jurídica</strong></p>
                                </div>
                            </h5>

                        </div>

                        @*elegir si carga documento accionistas*@
                        <div class="row">
                            <div class="card-body mx-2 px-0">
                                <div class="card-subtitle border-0">
                                    <p style="text-align:justify;font-size:14px"><strong>¿La sociedad tiene más de seis(6) accionistas con el 5% o más de participación?</strong></p>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioAccionistas" id="sociedadAccionistasSi" value="si">
                                        <label class="form-check-label" style="font-size:11px" for=""><strong>Si</strong></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioAccionistas" id="sociedadAccionistasNo" value="no">
                                        <label class="form-check-label" style="font-size:11px" for=""><strong>No</strong></label>
                                    </div>

                                </div>
                            </div>

                            @*carga documento accionistas*@
                            <div class="card-body mx-2 px-0 d-none" id="cargaAccionistas">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group mb-3">
                                            <input asp-for=Carga_Accionistas type="file" class="form-control" style="font-size:12px" id="inputCargaAccionistas">
                                            <label class="input-group-text" style="font-size:12px" for="inputGroupFile02">Cargar accionistas.</label>
                                        </div>
                                    </div>
                                  
                                </div>
                              
                            </div>
                        </div>

                        @*tabla de accionistas*@
                        <div class="container-fluid mx-0 px-0 d-none" id="tablaAccionistas">

                            <div class="row">
                                <div class="card-body mx-2 px-0">
                                    <div class="table-responsive">

                                        <table class="table table-bordered caption-top">
                                            <caption style="text-align:center">Relacione los accionistas y/o socios que tengan el 5% o más del capital social de la compañía o de los rendimientos y utilidades.</caption>
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="titulo_tabla" rowspan="2">Razón social / Nombre completo de socio o accionista</th>
                                                    <th scope="col" class="titulo_tabla" rowspan="1" colspan="2">Persona Natural(PN)<br />Persona Jurídica(PJ)</th>
                                                    <th scope="col" class="titulo_tabla" rowspan="2" style="align-content:center">Tipo ID</th>
                                                    <th scope="col" class="titulo_tabla" rowspan="2">Número de documento de identificación</th>
                                                    <th scope="col" class="titulo_tabla" rowspan="2">% de Participación</th>
                                                    <th scope="col" class="titulo_tabla" colspan="2">¿Desempeña funciones públicas?</th>
                                                    <th scope="col" class="titulo_tabla" colspan="2">¿Administra o maneja recursos públicos?</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col" class="res_tabla">PN</th>
                                                    <th scope="col" class="res_tabla">PJ</th>
                                                    <th scope="col" class="res_tabla">Si</th>
                                                    <th scope="col" class="res_tabla">No</th>
                                                    <th scope="col" class="res_tabla">Si</th>
                                                    <th scope="col" class="res_tabla">No</th>

                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona1" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona1" id="" value="PJ"></td>
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica1" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica1" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos1" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos1" id="" value="no"></td>
                                                </tr>

                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PJ"></td>
                                                    
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="no"></td>
                                                </tr>
                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PJ"></td>
                                                   
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="no"></td>                                                
                                                                                                      
                                                </tr>
                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PJ"></td>
                                                    
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="no"></td>
                                                </tr>
                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PJ"></td>
                                                    
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="no"></td>
                                                </tr>
                                                <tr>
                                                    <td><input asp-for=Razon_Social_Nombre_SocioA class="form-control razonSocialClass" type="text" style="font-size:13px" /></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PN"></td>
                                                    <td style="text-align:center"><input asp-for="Tipo_Persona_SocioA" class="form-check-input tipoPerClass" type="radio" name="tipoPersona2" id="" value="PJ"></td>
                                                    
                                                    <td>
                                                        <select asp-for=Tipo_Id_SocioA class="form-select selectTipoId" id="floatingSelect" aria-label="Floating label select example">
                                                            <option selected></option>
                                                            <option value="Nit">Nit</option>
                                                            <option value="C.C">Cédula Ciudadanía</option>
                                                            <option value="C.E">Cédula Extranjería</option>
                                                            <option value="Pas">Pasaporte</option>
                                                            <option value="Pep">Permiso Especial de Permanencia</option>
                                                        </select>
                                                    </td>
                                                    <td><input asp-for="Num_Doc_SocioA" class="form-control numDocClass" type="number" min="0" /></td>
                                                    <td><input asp-for="Porcentaje_SocioA" class="form-control porcentaje" type="number" min="1" max="100" onchange="sumar(this.value);" /></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Desempenna_Func_Publica_SocioA" class="form-check-input" type="radio" name="funcionPublica2" id="" value="no"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="si"></td>
                                                    <td style="text-align:center"><input asp-for="Maneja_Recurso_Publico_SocioA" class="form-check-input" type="radio" name="manejaRecursos2" id="" value="no"></td>
                                                                                                       
                                                                                                   
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <span>El resultado es: </span> <span id="spTotal"></span>
                            </div>
                        </div>
                    </div>


                    <div class="card mb-3 mx-0">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                5. DATOS SUCURSAL DE DESPACHO
                                
                            </h5>
                        </div>

                        <div class="container-fluid mx-0 px-0">
                            <div class="row" id="secciones_SucursalesDespacho">
                                <div class="card-body mx-2 px-0">
                                    <div class="row g-4" id="main">

                                        <div class="col-auto">
                                            <label class="col-form-label" style="font-size:13px"><strong>Cantidad Sucursales</strong></label>
                                               @*  <div class="form-floating">
                                                    <input asp-for=Cantidad_Sucursal_Despacho type="number" min="0" class="form-control" id="cantidadSucursales" placeholder="" value="">
                                                    <label for="floatingInputGrid"><strong>Cantidad de Sucursales</strong></label>
                                                </div> *@
                                        </div>
                                        <div class="col-auto">
                                                <input asp-for="Cantidad_Sucursal_Despacho" type="text" class="form-control" id="cantidadSucursalesID" disabled>
                                        </div>

                                        <div class="col-md-1"></div>

                                        <div class="col-sm-2 ">
                                            <input type="button" value="Añadir Elemento" class="bt btn btn-outline-primary " id="btAdd" />
                                        </div>
                                        <div class="col-sm-2 mx-0 px-0">
                                            <input type="button" value="Eliminar Elemento" class="bt btn btn-outline-warning" id="btRemove" />

                                        </div>
                                        <div class="col-sm-2 mx-0 px-0">
                                            <input type="button" value="Eliminar Todo" class="bt btn btn-outline-danger" id="btRemoveAll" />

                                        </div>
                                       

                                    </div>
                                 
                                </div>
                            </div>
                            
                            @*secciones que deben repetirse segun el número de sucursales*@
                            <div class="d-none" id="secc_cantidadesSucursales">

                                <div class="card-body mx-2 px-0">
                                    <div class="row bg-light">

                                        <div class="col-sm-6 d-none bg-light" id="seccionCambioDir">
                                            <div class="form-floating">
                                                <select class="form-select cambioDirSucursal" id="cambioDireccion" aria-label="Floating label select example">
                                                    <option selected></option>
                                                    <option value="si">Si</option>
                                                    <option value="no">No</option>
                                                </select>
                                                <label for="floatingSelect"><strong>¿Requiere cambio de dirección de despacho?</strong></label>
                                            </div>

                                        </div>


                                        <div class="col-sm-6  bg-light direccionAnterior" id="seccionDirAnterior">
                                            <div class="form-floating">
                                                <input asp-for=Direccion_Anterior_Despacho type="text" class="form-control dirAnteriorSuc" id="dirAnteSucursal" disabled>
                                                <label for="floatingInputGrid"><strong>Dirección despacho Anterior</strong></label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row bg-light">
                                    <div class="card-body mx-2 px-0">

                                        <div class="input-group mb-2">
                                            <span class="input-group-text" style="font-size:13px"><strong>Dirección despacho</strong></span>
                                            <input asp-for=Direccion_Nueva_Despacho type="text" class="form-control direccNuevaSuc" id="dirNuevaSucursal">

                                            <span class="input-group-text" style="font-size:13px"><strong>Barrio</strong></span>
                                            <input asp-for="Barrio_Despacho" type="text" class="form-control barrioDespSucursal" id="barrioSucursal">
                                        </div>

                                    </div>

                                </div>

                                <div class="row bg-light">
                                    <div class="card-body mx-2 px-0">
                                        <div class="input-group mb-2">


                                            <label class="input-group-text" for="" style="font-size:13px"><strong>Departamento</strong></label>

                                            <select asp-for="Departamento_Despacho" class="form-select comboDepartamentoSucursales" asp-items="@ViewData["combo"] as SelectList" id="cboDptoSucursal">
                                                <option value=""></option>
                                            </select>


                                            <label class="input-group-text" for="" style="font-size:13px"><strong>Ciudad</strong></label>

                                            <select asp-for=Ciudad_Despacho type="" class="form-select comboCiudadSucursales" id="cboCiudadSucursal">
                                                <option value=""></option>
                                            </select>

                                        </div>
                                    </div>

                                </div>


                                <div class="row bg-light border-bottom">
                                    <div class="card-body mx-2 px-0">
                                        <div class="input-group mb-2">

                                            <span class="input-group-text" style="font-size:13px"><strong>Celular</strong></span>
                                            <input asp-for=Celular_Despacho type="number" min="0" maxlength="10" class="form-control celSucursal" id="celularSucursal">

                                            <span class="input-group-text" style="font-size:13px"><strong>Teléfono</strong></span>
                                            <input asp-for="Telefono_Despacho" type="number" min="0" maxlength="12" class="form-control telSucursal" id="telefonoSucursal">

                                            <span class="input-group-text" style="font-size:13px"><strong>Email factura electrónica</strong></span>
                                            <input asp-for=Email_FactElectronica_Despacho type="email" class="form-control emailSucursal" id="emailFactSucursal">

                                        </div>
                                    </div>

                                </div>

                            </div>


                            @* ///lugar de pruebas *@
                            @* <div class="card-body mx-2 px-0"> *@
                            @*     <div id="main"> *@
                            @*         <div class="row"> *@
                            @*             <div class="col-sm-2 mx-0 px-0"> *@
                            @*                 <input type="button" id="btAdd" value="Añadir Elemento" class="bt btn btn-outline-primary " /> *@
                            @*             </div> *@
                            @*             <div class="col-sm-2 mx-0 px-0"> *@
                            @*                 <input type="button" id="btRemove" value="Eliminar Elemento" class="bt btn btn-outline-warning" /> *@

                            @*             </div> *@
                            @*             <div class="col-sm-2 px-0"> *@
                            @*                 <input type="button" id="btRemoveAll" value="Eliminar Todo" class="bt btn btn-outline-danger" /> *@

                            @*             </div> *@


                            @*         </div> *@
                            @*     </div> *@
                            @* </div> *@


                            <div class="" id="destinoClone"></div>
                            @* //// *@
                        </div>

                    </div>


                    <div class="card mb-3 mx-0">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                DOCUMENTOS
                            </h5>
                        </div>
                        <div class="container-fluid mx-0 px-0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="inputGroupFile02">
                                        @*<label class="input-group-text" for="inputGroupFile02">Upload</label>*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="inputGroupFile02">
                                        @*<label class="input-group-text" for="inputGroupFile02">Upload</label>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>


                    </div>




                    <div class="card mb-3 mx-0">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                6. DECLARACIÓN VOLUNTARIA DE ORIGEN DE FONDOS Y AUTORIZACIÓN PARA VERIFICACIÓN DE INFORMACIÓN

                            </h5>
                        </div>
                        <div class="container-fluid mx-0 px-0">
                            <div class="row">
                                <p style="text-align:justify;font-size:13px">
                                    Yo, identificado como aparece al pie de mi firma, actuando en nombre propio y/o en mi condición de representante legal de la sociedad que represento, igualmente aquí relacionada, 
                                    de manera voluntaria declaro que todo lo aquí consignado es cierto, veraz y confiable, y que los recursos que entregue a Agropecuaria Aliar S.A., son producto de operaciones lícitas 
                                    del giro ordinario de mis negocios, a la luz de la normatividad legal aplicable; así como todas mis actividades, transacciones y operaciones, resaltando que ninguna de ellas se enmarca 
                                    dentro de las contempladas en el Código Penal Colombiano como Lavado de Activos y/o Financiación del Terrorismo - LA/FT, ni los fondos que de ellas se derivan se encuentran 
                                    relacionados con Lavado de Activos y/o Financiación del Terrorismo - LA/FT. Para efectos de comprobación de lo aquí escrito, <strong>autorizo a Agropecuaria Aliar S.A</strong>. a consultar,
                                    verificar e indagar cualquier lista restrictiva y/o vinculante que exista para tal fin. En virtud de lo anterior la empresa podrá dar por terminada cualquier relación comercial, 
                                    contractual o de negocios con el suscrito, si así lo considera, teniendo en cuenta el análisis de riesgos y el resultado del proceso de Debida Diligencia en conocimiento de contrapartes.
                                </p>
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                        <label class="form-check-label" for="gridCheck" style="text-align:justify;font-size:13px">
                                            Autoriza verificación de información.
                                        </label>
                                        <div class="invalid-feedback spanValidated">
                                            Aceptar Autorización
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>


                    <div class="card mb-3 mx-0">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                7. TOMA DE AUTORIZACIÓN EXPRESA PARA EL TRATAMIENTO DE DATOS PERSONALES

                            </h5>
                        </div>
                        <div class="container-fluid mx-0 px-0">
                            <div class="row">
                                <p style="text-align:justify;font-size:13px">
                                    <strong>AGROPECUARIA ALIAR S.A</strong>, identificada con nit 890.207.037-1, será el Responsable del tratamiento y, en tal virtud, podrá recolectar, almacenar, usar, suprimir, transferir, transmitir, actualizar y procesar para
                                    las siguientes finalidades: 
                                    <strong>1.</strong> Realizar creación en las bases de datos de la compañía, actualizar sus datos cuando la compañía lo considere necesario o cuando el cliente lo requiera, inactivarlo una vez terminada la relación comercial,
                                    utilizar la información de contacto para gestionar los temas administrativos de la relación comercial con nuestros clientes, generar facturación electrónica, realizar actividades de fidelización, telemercadeo 
                                    y/o E-mailing (Correo electrónico), gestionar todo lo referente con servicio al cliente (SAC) para gestionar sus peticiones, quejas, reclamos, sugerencias y felicitaciones (PQRSF), gestión y envío de domicilios, 
                                    divulgación de campañas publicitarias, información de nuestros productos, información promocional, ofertas, eventos y actividades de mercadeo. 
                                    <strong>2.</strong> Realizar verificaciones en listas inhibitorias de Lavado de activos, financiación del terrorismo, financiamiento de la proliferación de armas de destrucción masiva, corrupción y soborno transnacional y/o cualquier
                                    otra verificación que defina la compañía para la vinculación de clientes. 
                                    <strong>3.</strong> Realizar grabaciones de voz en los diferentes procesos comerciales tales como:
                                    la toma de pedidos desde Call Center, el manejo de procesos de servicio al cliente y el monitoreo y control de devoluciones; grabaciones que se realizan con fines de garantizar la calidad en el servicio. 
                                    <strong>4.</strong> Invitarlos a participar  y enviarles información de actividades de tipo comercial, mercadeo y/o publicidad, eventos, campañas, lanzamientos, cursos, concursos, sorteos, envío de información publicitaria,
                                    actividades de investigación de mercados y demás que sean organizadas y/o patrocinadas por la compañía, de manera directa o a través de la transmisión de sus datos a las agencias de mercadeo y publicidad que 
                                    determine la compañía. 
                                    <strong>5.</strong> Usar y publicar todo el material biométrico derivado de las actividades de mercadeo y publicidad que puede incluir imágenes, videos, testimonios, entrevistas, eventos masivos y contenido
                                    editorial para ser incluidos en medios digitales, masivos, de comunicación corporativa, redes sociales, página web o cualquiera que determine la compañía. 6. Transmitir la información a la empresa encargada 
                                    del almacenamiento, gestión documental y custodia de las bases de datos físicas, cuando la compañía lo considere necesario, bajo los estándares de seguridad y confidencialidad establecidos por la compañía.
                                </p>
                                <p style="text-align:justify;font-size:13px">
                                    Manifiesto que me informaron que en caso de recolección de mi información sensible como lo son fotos y videograbaciones, tengo derecho a entregar o no los datos solicitados. Entiendo que las fotos y videograbaciones 
                                    son datos sensibles que afectan la intimidad del Titular o cuyo uso indebido puede generar discriminación. Manifiesto que me informaron que los datos sensibles que se recolectarán serán utilizados para 
                                    la siguiente finalidad: usar y publicar todo el material biométrico derivado de las actividades de mercadeo y publicidad que puede incluir imágenes, videos, testimonios, entrevistas, eventos masivos y contenido 
                                    editorial para ser incluidos en medios digitales, masivos, de comunicación corporativa, redes sociales, página web o cualquiera que determine la compañía. Sus derechos como titular del dato son los previstos en la 
                                    Constitución y en la Ley 1581 de 2012, especialmente los siguientes: 
                                    <strong>a)</strong> Acceder en forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento.
                                    <strong>b)</strong> Solicitar la actualización y rectificación de su información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya sido autorizado.
                                    <strong>c)</strong> Solicitar prueba de la autorización otorgada.
                                    <strong>d)</strong> Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo dispuesto en la normatividad vigente. 
                                    <strong>e)</strong> Revocar la autorización y/o solicitar la supresión del dato, a menos que exista un deber legal o contractual que haga imperativo conservar la información. 
                                    <strong>f)</strong> Abstenerse de responder las preguntas sobre datos sensibles o sobre datos de las niñas, niños y adolescentes. El titular podrá ejercer sus derechos,
                                    especialmente a presentar consultas y reclamos relacionados con el tratamiento de los datos personales y el ejercicio de los derechos mencionados en esta autorización, a través de comunicación dirigida al 
                                    correo protecciondedatos@aliar.com.co, o por medio de los siguientes canales: °Línea de atención nacional: 018000112699. °Celular: 3229140572. Lo anterior, para dar cumplimiento a los artículos 14 y 15 de la Ley 1581 de 2012.
                                    Por todo lo anterior, he otorgado mi consentimiento a <strong>AGROPECUARIA ALIAR S.A.</strong> para que trate mi información personal de acuerdo con la Política de Tratamiento de Datos Personales dispuesta por la sociedad en medio electrónico
                                    publicada en la página web www.aliar.com.co y que me dio a conocer antes de recolectar mis datos personales. Manifiesto que la presente autorización me fue solicitada y puesta de presente antes de entregar mis datos y que la 
                                    suscribo de forma libre y voluntaria una vez leída en su totalidad.
                                </p>
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                        <label class="form-check-label" for="gridCheck" style="text-align:justify;font-size:13px">
                                            Autoriza el tratamiento de datos personales.
                                        </label>
                                        <div class="invalid-feedback spanValidated">
                                            Aceptar Autorización
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                      
                    </div>
                    
                    @*firmante*@
                    <div class="card mb-3 mx-0 d-none">

                        <div class="container-fluid mx-0 px-0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card-body mx-2 px-0">

                                       

                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatingInputValue" placeholder="" value="" style="height:140px">
                                            <label for="floatingInput" style="font-size:13px"><strong>Firma del solicitante</strong>(Persona natural) o Representante legal (Persona Jurídica). Esta firma autoriza y aprueba lo contenido en las secciones 6 y 7, del presente formato.</label>
                                        </div>

                                       
                                        <div class="input-group mb-2">
                                            <span class="input-group-text" style="font-size:13px">En representación de</span>
                                            <input asp-for=Representa_Firmante type="text" class="form-control uppercase" placeholder="" aria-label="">
                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-6">
                                    <div class="card-body mx-2 px-0">
                                      
                                        <div class="input-group mb-2">
                                            <span class="input-group-text" style="font-size:13px">Nombres y Apellidos </span>
                                            <input asp-for=Nombre_Apellido_Firmante type="text" class="form-control uppercase" placeholder="" aria-label="">                                         

                                        </div>

                                        <div class="input-group mb-4">
                                            <span class="input-group-text" style="font-size:13px">Documento Identidad</span>
                                            <input asp-for=Num_Id_Firmante type="number" class="form-control" placeholder="" aria-label="">
                                        </div>

                                        <div class="form-floating">
                                            <input asp-for=Observaciones_Firmante type="text" class="form-control" id="floatingInputValue" placeholder="" value="" style="height:80px">
                                            <label for="floatingInputValue" style="font-size:13px">Observaciones</label>
                                        </div>

                                    </div>

                                  

                                </div>

                            </div>

                        </div>


                    </div>

                    @*botones acción*@
                    <div class="card mb-3">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card-body">
                                        <input id="generarPdf" type="submit" value="Generar " asp-action="PdfNew" asp-controller="Clientes" class="btn btn-outline-primary" />

                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="card-body px-0">
                                        <div id="ok" class="alert " style="display:none" role="alert">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" id="filaGuarda_Solicitud">
                                <div class="col-sm-4">
                                    <div class="card-body">
                                        <input id="guardaCreacionCliente" type="submit" value="Enviar Solicitud" asp-action="Index" asp-controller="Clientes" class="btn btn-outline-success" />

                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="card-body px-0">
                                        <div id="ok" class="alert " style="display:none" role="alert">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

